
<div class="skills-slider">
<div class="page-width">
<div id="slider">
    <input class="imgCheck" type="radio" name="slider" id="s1" checked>
    <input class="imgCheck" type="radio" name="slider" id="s2">
    <input class="imgCheck" type="radio" name="slider" id="s3">
    <input class="imgCheck" type="radio" name="slider" id="s4">
    <input class="imgCheck" type="radio" name="slider" id="s5">

    <label for="s1" id="slide1"><img src="https://i.pinimg.com/originals/2b/de/de/2bdede0647e3cdf75b44ea33723201d9.jpg" alt=""></label>
    <label for="s2" id="slide2"><img src="https://images6.alphacoders.com/462/thumb-1920-462371.jpg" alt=""></label>
    <label for="s3" id="slide3"><img src="https://wallpaperaccess.com/full/1154341.jpg" alt=""></label>
    <label for="s4" id="slide4"><img src="https://wallpapercave.com/wp/wp2634222.jpg" alt=""></label>
    <label for="s5" id="slide5"><img src="https://images5.alphacoders.com/343/thumb-1920-343645.jpg" alt=""></label>
</div>
</div>
</div>
<style>
.skills-slider{
padding: 0 1.5rem;
}

.skills-slider  #slider {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 40rem;
  margin: 150px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

.skills-slider  input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

.skills-slider  input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

.skills-slider  input[type=radio]:checked {
  opacity: 1;
}

.skills-slider  #slider label, #slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* Active Slide */
.skills-slider  #s1:checked ~ #slide1,
 .skills-slider  #s2:checked ~ #slide2,
  .skills-slider #s3:checked ~ #slide3,
   .skills-slider #s4:checked ~ #slide4,
    .skills-slider #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
.skills-slider #s1:checked ~ #slide2,
 .skills-slider #s2:checked ~ #slide3,
 .skills-slider  #s3:checked ~ #slide4,
  .skills-slider  #s4:checked ~ #slide5,
  .skills-slider   #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
  filter: brightness(50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Next to Next Slide */
.skills-slider #s1:checked ~ #slide3,
 .skills-slider #s2:checked ~ #slide4,
 .skills-slider  #s3:checked ~ #slide5,
  .skills-slider  #s4:checked ~ #slide1,
   .skills-slider  #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
  filter: brightness(50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Previous to Previous Slide */
.skills-slider #s1:checked ~ #slide4,
 .skills-slider #s2:checked ~ #slide5,
   .skills-slider #s3:checked ~ #slide1,
   .skills-slider  #s4:checked ~ #slide2,
    .skills-slider #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
  filter: brightness(50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Previous Slide */
 .skills-slider #s1:checked ~ #slide5,
 .skills-slider #s2:checked ~ #slide1,
   .skills-slider #s3:checked ~ #slide2,
    .skills-slider #s4:checked ~ #slide3,
     .skills-slider #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
  filter: brightness(50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 750px){
.skills-slider input[type=radio]{
display: none;
}

}

@media screen and (max-width: 399px){

.skills-slider #slider {
    width: 100%;
    max-width: 188px;
    height: 150px;
    margin: 5rem auto;
}
}
</style>

<script>
let counter = 1;
const numberOfImages = document.getElementsByClassName("imgCheck").length
setInterval(function(){
  document.getElementById('s' + counter).checked = true;
  counter++;
  if(counter > numberOfImages){
    counter = 1;
  }
}, 4000);
</script>
{% schema %}
{
  "name": "Skills Slider",
  "tag": "section",
  "class": "section-skills-slider",
  "settings": [],
  "presets": [
    {
      "name": "Skills Slider",
     
    }
  ],
}
{% endschema %}